.home {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.bottom-banner {
  width: 97vw;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 80%;
}