.item-info {
  display: inline-block;
  margin: 0;

}


.item-one {
  border-bottom: solid .5px rgba(142, 175, 195, .25);
  margin: 0 auto;
  height: 110px;
  padding: 10px;
}

.item-title {
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: bold;
  letter-spacing: .24px;
  margin: 0;
  width: 150px;
}

.item-size {
  color: #4d6988;
  /* display: inline-block; */
  font-family: 'Open Sans';
  font-size: 10px;

}

.related-price {
  color: #273645;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 12px;
}

.related-box {
  border: solid .5px rgba(142, 175, 195, .25);
}

.related_component {
  margin-top: 45px;
}

.related-container {
  /* display: inline-block; */
  margin: 45px 0 0 0;
  width: 300px;
}

.related-image {
  display: block;
  float: left;
  margin: 0;
  height: 80px;
  width: 100px;
}

.related-items-title {
  color: #273645;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}