
.item-one {
  border-bottom: solid .5px rgba(142, 175, 195, .25);
  height: 150px;
}

.item-title {
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: bold;
  letter-spacing: .24px;
  margin: 0 0px 0 15px;
  width: 150px;
}

.item-size {
  color: #4d6988;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 10px;

}

.item-two {
  border-bottom: solid .5px rgba(142, 175, 195, .25);
}

.rating {
}

.related-box {
  border: solid .5px rgba(142, 175, 195, .25);
}

.related-container {
  /* display: inline-block; */
  width: 300px;
}

.related-image {
  height: 70px;
  width: 70px;
}

.related-items-title {
  color: #273645;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: bold;
}