.detail-container {
  position: relative;
  display: flex;
  margin-left: 100px;
  width: 60%;
}

.prodColumn {
  display: flex;
  flex-direction: column;
	justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
}

.prodColumn.left {
  margin: 0;
}

.prodColumn.right {
  margin-left: 200px;
}

.topRow {
  height: 450px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


