.detail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;

}

.prodColumn {
  display: flex;
  flex-direction: column;
	justify-content: space-between;
  align-items: flex-start;
  width: 400px;
}
