.detail-container {
  position: relative;
  display: flex;
  margin-left: 100px;
  width: 60%;
}

.prodColumnLeft {
  display: flex;
  flex-direction: column;
	justify-content: space-around;
  align-items: flex-start;
  width: 70%;
  height: stretch;
  margin: auto;
}

.prodColumnRight {
  margin-left: 200px;
}

.topRow {
  height: 450px;
  overflow-y: auto;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}


